go 1.27.1

use (
	./backtracking-patterns/01-generate-parentheses
	./stack-patterns/01-path-simplify
	./stack-patterns/02-zuma-game
	./stack-patterns/03-daily-temperatures
	./stack-patterns/04-next-greater-element-i
	./stack-patterns/05-trapping-rain-water
	./stack-patterns/06-largest-rectangle-in-histogram
)
